body {
    background-color: #D1D2D4;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

.Kontakt {
    padding-left: 25%;
    margin: 0;
}

.Vzdelani {
    background-color: #C0BAB0;
}

.Zkusenosti {
    background-color: #BFB0B1;
}

.Jazyky {
    background-color: #C0BAB0;
}

.Zajmy {
 background-color: #B0BBBF;
}

.profilovka {
width: 40%;
border-radius: 50%;
margin: 0 50px 30px 0;
float: left;
}

h1 {
    font-size: 120px;
    text-align: center;
    font-family: 'Yeseva One', serif;
}

h2 {
    font-size: 40px;
    font-family: 'Crimson Text', serif;
}


section {
    padding: 40px 22%;
    overflow: auto;
    font-family: 'Crimson Text', serif;
}

td {
    text-align: left;
    padding: 10px 0;
}

.pravysloupec {
    padding-left: 70px;
}

.levysloupec {
    font-weight: bold;
    font-size: 30px;
}

.jazyky {
    font-weight: bold;
}

.Zajmy img {
    width: 30%;
    border: 2px solid #756158;
    border-radius: 10px;
    margin: 0% 1% 5% 1%;
}

footer {
    text-align: center;
    color: white;
    padding: 20px 0;
    background-color: #799BAC
    ;
}